:root {
    --color-fondo: #FDFBF8;     
    --color-crema-medico: #F7F4EF; 
    --color-arena-medica: #EFEAE2; 
    --color-calido-medico: #E8DFD7; 
    --color-primario: #262016; 
    --color-texto-claro: #494949; 
    --color-error: #D8000C; 
}

body {
    background-color: var(--color-fondo);
    font-family: Arial, sans-serif;
    color: var(--color-primario);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 2.5em;
    font-weight: 500;
    color: var(--color-primario);
    margin-bottom: 20px;
}

.container {
    width: 100%;
    max-width: 500px;
    padding: 30px 40px;
    background-color: var(--color-crema-medico);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

#formFicha {
    margin-top: 20px;
}

.grid > div > div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: var(--color-primario);
    font-size: 0.9em;
}

input[type="text"], 
input[type="time"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-arena-medica);
    background-color: white;
    border-radius: 4px;
    box-sizing: border-box; 
    font-size: 1em;
    color: var(--color-primario);
    transition: border-color 0.2s;
}

input[readonly] {
    background-color: var(--color-calido-medico);
}

input:focus,
textarea:focus,
select:focus {
    border-color: var(--color-primario);
    outline: none;
    box-shadow: 0 0 0 1px var(--color-primario);
}

.rut-container {
    display: flex;
    justify-content: flex-start;  
    align-items: center;          
    gap: 10px;                    
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.rut-container input[type="text"] {
    flex: 1;                      
    min-width: 0;                 
}

#btnBuscar {
    padding: 10px 15px;
    background-color: var(--color-arena-medica);
    color: var(--color-primario);
    border: 1px solid var(--color-arena-medica);
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition: background-color 0.2s;
    white-space: nowrap;        
    height: 100%;                 
}

#btnBuscar:hover {
    background-color: var(--color-calido-medico);
}

