{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha Médica</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <a href="{% url 'menu_doctor' %}" class="btn-volver">← Volver al Menú Doctor</a>

    <div class="container">
        <h1>Ficha Médica</h1>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <form id="formFicha" method="post" novalidate>
            {% csrf_token %}


            <div class="full">
                <label for="id_rut_paciente">RUT Paciente:</label>
                <div class="rut-container">
                    <input 
                        type="text" 
                        name="rut_paciente" 
                        id="id_rut_paciente" 
                        placeholder="Ingrese RUT del paciente" 
                        class="form-control"
                        maxlength="15"
                    >
                    <button id="btnBuscar" type="button" data-url="{% url 'buscar_paciente' %}">
                        Buscar
                    </button>
                </div>

                <div id="msg_id_rut_paciente" class="feedback-msg"></div>
            </div>
            <div>
                <div>
                    {{ form.nombre_paciente.label_tag }}
                    {{ form.nombre_paciente }}
                    <div id="msg_id_nombre_paciente" class="feedback-msg"></div>
                </div>

                <div>
                    {{ form.telefono_paciente.label_tag }}
                    {{ form.telefono_paciente }}
                    <div id="msg_id_telefono_paciente" class="feedback-msg"></div>
                </div>

                <div class="full">
                    {{ form.direccion_paciente.label_tag }}
                    {{ form.direccion_paciente }}
                    <div id="msg_id_direccion_paciente" class="feedback-msg"></div>
                </div>

                <div class="full">
                    {{ form.titulo.label_tag }}
                    {{ form.titulo }}
                    <div id="msg_id_titulo" class="feedback-msg"></div>
                </div>

                <div class="full">
                    {{ form.notas.label_tag }}
                    {{ form.notas }}
                    <div id="msg_id_notas" class="feedback-msg"></div>
                </div>

                <div class="full">
                    {{ form.hora_ficha.label_tag }}
                    {{ form.hora_ficha }}
                    <div id="msg_id_hora_ficha" class="feedback-msg"></div>
                </div>
            </div>

            <button class="btn" type="submit">Guardar Ficha</button>
        </form>
    </div>

    <script src="{% static 'js/validacionesFicha.js' %}"></script>
</body>
</html>
