{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar Cita</title>
    <link rel="stylesheet" href="{% static 'css/agendar.css' %}">
    <script src="{% static 'js/horarios.js' %}" defer></script>
    <script src="{% static 'js/validaciones_agendar.js' %}" defer></script>
</head>

<body>
    <main class="container">
        <div class="card">
            <h1>Agendar tu cita con <br><span>Doctor Constanzo</span></h1>

            <form id="form-agendar" method="POST">
                {% csrf_token %}
                <label>Selecciona una Fecha</label>
                <input type="date" id="fecha" name="fecha" required>

                <label>Horarios Disponibles</label>
                <div id="mensaje-horarios" class="mensaje-horarios"></div>
                <div class="horarios-container" id="horarios-container"></div>

                <label>Motivo de la cita</label>
                <textarea name="motivo" placeholder="Describe brevemente el motivo..." required></textarea>

                <div class="buttons">
                    <button type="submit" class="btn">Agendar</button>
                    <a href="{% url 'UsuarioView' %}" class="cancel">Cancelar</a>
                </div>
            </form>
        </div>
    </main>
</body>
</html>

